body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.banner {
    background: url("../images/background.jpg") no-repeat top center;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.banner h1 {
    font-size: 82px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 5px;
}

.banner h2 {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 2px;
}

.overlay {
    background: rgb(2,147,208);
    background: linear-gradient(90deg, rgba(2,147,208,1) 0%, rgba(2,109,163,1) 0%, rgba(2,0,36,1) 100%);
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
}

.field {
    background: #2a4158;
    height: 500px;
    display: flex;
    align-items: center;
}

.field .container .input-field {
    margin: 0 auto;
    width: 50%;
}

.field .container .input-field .input {
    display: flex;
    align-items: center;
}

.field .container .input-field .input > * {
    margin-right: 10px;
}

.field .container .input-field .input h2 {
    font-size: 22px;
    color: #fff;
}

.field .container .input-field .input input {
    height: 30px;
    border: none;
    width: 62px;
    padding: 0 5px 0 15px;
    background: #22272c;
    color: #fff;
    font-size: 17px;
    font-family: 'Roboto';
}

.field .container .input-field .input button {
    border: none;
    height: 30px;
    padding: 0 40px;
    background: #12a577;
    color: #fff;
    font-family: 'Roboto';
    font-size: 19px;
}

.field .container .input-field textarea {
    height: 300px;
    resize: none;
    width: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.custom-scroll::-webkit-scrollbar-track{
    border-radius: 6px;
    background-color: #F5F5F5;
}
.custom-scroll::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background-color: #AFAFAF;
}